---
layout: blank
---

{{#ifPage '06-custom/05-if-page'}}
	<p>This is definitely the "06-custom/05-if-page" page.</p>
{{/ifPage}}

{{#ifPage 'index' '06-custom/05-if-page'}}
	<p>This is definitely either the "index" or "06-custom/05-if-page" page.</p>
{{/ifPage}}



